numpy>=1.23,<2.0
h5py>=3.8,<4.0
Pillow>=9.5,<11.0
opencv-python-headless>=4.8,<5.0
timm>=0.9,<1.0
transformers>=4.35,<4.40
torch>=2.1,<2.3
torchvision>=0.16,<0.18
tqdm>=4.64
jsonlines>=3.1
easydict>=1.10
networkx>=2.8,<4.0
tensorboardX>=2.5
Shapely>=1.8,<3.0
